<div class="list-group">
  <% users.each do |user| %>
    <%= link_to conversation_path(conversation_with(user)), class: "list-group-item list-group-item-action #{user == recipient ? ' bg-light' : ''}" do %>
      <%= image_tag user.display_image, class: "rounded-circle", width: "40" %>
      <%= user.name %>
    <% end %>
  <% end %>
</div>
