<% if notice %>
  <div class="d-flex justify-content-center">
    <p class="alert alert-success flash-message px-4 py-2 mb-0 mt-4">
      <%= notice %>
    </p>
  </div>
<% end %>
<% if alert %>
  <div class="d-flex justify-content-center">
    <p class="alert alert-danger flash-message px-4 py-2 mb-0 mt-4">
      <%= alert %>
    </p>
  </div>
<% end %>
