<% flash.each do |key, message| %>
  <div class="d-flex justify-content-center">
    <p class="alert <%= bootstrap_class_for(key) %> flash-message px-4 py-2 mb-0 mt-4">
      <%= message %>
    </p>
  </div>
<% end %>
