<footer class="footer">
  <small>
    The <a href="/">Look For 1</a>
    by <a href="#">nakaty2023</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
